* { /* "*" means all elements */
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-display: 'Red Hat Display', sans-serif;
  color:#fff;
}

body {
  background-color: #000000;
}

section {
  height: 55%;
  position: sticky; /*positioned based on the user's scroll position. */
  display: flex; /*section resizes itself accordoing to the browser window*/
  justify-content: center; /*aligns the flex items at the center of the container*/
  align-items: center;
}

.content-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  padding: 3rem calc((100vw - 1300px)/2);
}

.single-column {
  
  display: flex; /*note: flex box main axis is x-axis/horizontal*/
  flex-direction: column; /*defining the axis for change*/
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
}

.column-left {
  display: flex;
  flex-direction: column; /*defining the axis for change*/
  justify-content: center;
  align-items: flex-start;
}

.column-left h1 { /* specifying for element within column-left*/
  margin-bottom: 1rem;
  font-size: 2rem;
  font-style: italic;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.image {
  width: 100%;
  height: 100%;
  max-width: 150vh; 
  max-height: 700px;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

@media screen and (max-width: 768px) { /*setting a condition for when its at set max-width*/
  .container {
    grid-template-columns: 1fr; /*represents a fraction of the leftover space in the grid container*/
  }
}


/* neon sign effect for heading*/
h1{
  font-size: 150px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer
}

h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{ /*glow effect on hover*/
  color: #fff;
  text-shadow: 0 0 10px #fff, /*radius*/
               0 0 20px #fff, 
               0 0 40px #fff;
}

.bottom {
  height: 5vh;
  color: #fff;
  position: sticky; /*positioned based on the user's scroll position. */
  display: flex; /*section resizes itself accordoing to the browser window*/
  justify-content: center; /*aligns the flex items at the center of the container*/
  align-items: center;
}

.action {
  padding-top:64px;
  padding-bottom:64px;
  display:inline-block;
  width:auto
}

#value{
  font-size: 100px;
  font-weight: bold;
}

.content {
  margin-left:auto;
  margin-right:auto;
  max-width:500px;
}

.center {
  text-align:center!important;
  display:inline-block;
  width:auto;
  text-align:center;
}

.padding-64 {
  padding-top:64px!important;
  padding-bottom:64px!important
}

.tag {
  background-color:rgb(134, 61, 61);
  color:rgb(255, 255, 255);
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  text-align:center;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:15px;
}

.wide {
  letter-spacing:4px;
}

.panel {
  padding:0.01em 16px;
  margin-top:16px;
  margin-bottom:16px;
}

.leftbar {
  border-left:6px solid rgb(104, 11, 11)!important;
}

.red-accent {
  color:#000!important;
  background-color:#ba1717!important;
}

html,body {
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5
}

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

html{
  overflow-x:hidden
}

h2{
  font-size:30px
}
h3{
  font-size:24px
}
h4{
  font-size:20px
}
h5{
  font-size:18px
}
h6{
  font-size:16px
}

span{
  display:inline-block;
}

.padding-48 {
  padding-top:48px!important;
  padding-bottom:48px!important
}

.footer-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
}

#canvas-container {
  position: relative;
  height: 70%;
  width: 80%;
}

.fake {
  color: #F0F0F0;
  z-index: 2;
  font-weight: bold;
  margin-top: -0.5em;
  position: relative;
  text-align: center;
  top: 50%;
}

span_e {
  color: #752f2f;
  font-size: 18px;
  font-weight: bold;
  left: 100%;
  position: absolute;
  white-space: nowrap;
  z-index:1;
}
